# Java backend
target/
*.log
*.class
*.jar
*.war
*.iml
*.db
hs_err_pid*
/out/

# IntelliJ IDEA
.idea/
*.iws
*.ipr
*.iml

# VSCode
.vscode/

# Node.js frontend
node_modules/
.env*
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Git
.git/
temp/
oj-frontend/dist/
oj-backend/static/images/
